h1{
    font-size: 1.6rem;
}
.icon-form {
    margin-top: 8px;
}

textarea {
    resize: vertical;
    overflow-y: auto;
    height: 160px;
    min-height: 100px;
    max-height: 210px;
}

form {
    width: 30rem;
}

@media (max-width: 950px) {
    form {
        width: 25rem;
    }
}

@media (max-width: 850px) {
    form {
        width: 70%;
    }
}
@media (max-width: 550px) {
    form {
        width: 95%;
    }
}

::ng-deep .p-message .p-message-wrapper{
    margin: 0 !important;
    padding:  0 !important;
}
.invalid, .invalid:hover{
    border: 1px solid  #e24c4c;
}
.invalid-phone >  ::ng-deep .p-inputtext {
    border-color: #e24c4c !important;
}