::ng-deep .p-datatable-table{
width: 100%;
}
@media (max-width: 880px) {
    ::ng-deep .p-datatable-table{
        width: 45rem !important;
        }
    .responsive-box-btn{
        flex-direction: column !important;
    }
    .show-none{
        display: none;
    }
    th, td{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: auto !important;
    }
  }

  @media (max-width: 860px) {
    ::ng-deep .p-datatable-table{
        width: 100% !important;
        }

  }

.b-radius-left {
    border-top-left-radius: 5px !important; /* Radio de borde en la esquina superior izquierda */
    border-bottom-left-radius: 5px !important; /* Radio de borde en la esquina inferior izquierda */
  
  }
  .b-radius-right {
    border-top-right-radius: 5px !important; /* Radio de borde en la esquina superior izquierda */
    border-bottom-right-radius: 5px !important; /* Radio de borde en la esquina inferior izquierda */
  
  }
.text-long{
  font-size: 0.9rem !important;
  text-transform: uppercase;
  color: #5f6368 !important ;
}